<p>{{mm}}</p>

<!--Num1 : <input type="number" size="20" #num1>-->
<!--Num2 : <input type="number" size="20" #num2>-->
<!--        <input type="submit" value="mul" (click)="mul(num1,num2)">-->
<!--        <input type="reset" value="clear">-->

<!--<h4>{{multiple}}</h4>-->

<form #empformRef="ngForm"  (ngSubmit)="viewdata(empformRef)">
  <table>
    <tr>
      <th>Employee_id</th>
      <td><input type="number" name="e_id" ngModel></td>
    </tr>
    <tr>
      <th>Employee_name</th>
      <td><input type="text" name="e_name" ngModel></td>
    </tr>
    <tr>
      <th>Employee_salary</th>
      <td><input type="number" name="e_salary" ngModel></td>
    </tr>
    <tr>
      <th>Employee_Department</th>
      <td><input type="text" name="e_department" ngModel></td>
    </tr>
    <tr>
      <th>Employee_Experience</th>
      <td><input type="number" name="e-experience" ngModel></td>
    </tr>
    <tr>
      <td><input type="submit" value="save"></td>
      <td><input type="reset" value="clear"></td>
    </tr>
  </table>
</form>
