<app-first></app-first>
This is a first text of Angular

<!--<app-child></app-child>-->
<!--<app-header></app-header>-->
<!--<h1>Addition</h1>-->
<!--No1 : <input type="number" placeholder="Enter  number" size="20" #no1><br>-->
<!--No2 : <input type="number" placeholder="Enter another number" size="20" #no2><br> <br>-->
<!--       <input type="button" value="sum" (click)="add(no1,no2)">-->
<!--       <input type="button" value="clear">-->

<!--<h1>Add : {{msg}}</h1>-->

<!--<h1>{{tit}}</h1>-->

<!--<app-main></app-main>-->

<!--<app-main1></app-main1>-->
<!--<app-main2></app-main2>-->
<!--<app-header1></app-header1>-->
<!--<app-model-driven-form></app-model-driven-form>-->
<app-structure-directive2></app-structure-directive2>
