<p>model-driven-form works!</p>

<!--<form [formGroup]="Emp_formGroup" (ngSubmit)="e_view()"  >-->
<!--  <table>-->
<!--    <tr>-->
<!--      <th>Employee_id</th>-->
<!--      <td><input type="number" formControlName="e_id" ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Employee_name</th>-->
<!--      <td><input type="text" formControlName="e_name"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Employee_salary</th>-->
<!--      <td><input type="number" formControlName="e_salary" ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Employee_Department</th>-->
<!--      <td><input type="text" formControlName="e_department" ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Employee_Experience</th>-->
<!--      <td><input type="number" formControlName="e_experience" ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><input type="submit" value="save"></td>-->
<!--      <td><input type="reset" value="clear"></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->


<form [formGroup]="Productformgroup"  (ngSubmit)="Productformgroup.value">
  <table>
    <tr>
      <th>Product_id</th>
      <td><input type="number" formControlName="p_id" ></td>
    </tr>
    <tr>
      <th>Product_name</th>
      <td><input type="text" formControlName="p_name"></td>
    </tr>
    <tr>
      <th>Product_Quantity</th>
      <td><input type="number" formControlName="p_quantity" ></td>
    </tr>
    <tr>
      <th>Product_price</th>
      <td><input type="number" formControlName="p_price" ></td>
    </tr>
    <tr>
      <th>Total_discount</th>
      <td><input type="number" formControlName="p_discount" ></td>
    </tr>
    <tr>
      <td><input type="submit" value="save"></td>
      <td><input type="reset" value="clear"></td>
    </tr>
  </table>
</form>

<h1>Product_view</h1>

