<p>child works!</p>
<p>{{t}}</p>
This is a normal addition of two numbers <br/>

No1 : <input type="number" size="20" #no1>
No2 : <input type="number" size="20" #no2>
      <input type="submit" value="sum" (click)="add(no1,no2)">
      <input type="reset" value="clear">

<h4>{{ans}}</h4>

<p>{{t1}}</p>

No1 : <input type="number" size="20" #a>
No2 : <input type="number" size="20" #b>
      <input type="submit" value="sub" (click)="min(a,b)">
      <input type="reset" value="clear">
<h4>{{answer}}</h4>


